## PANDAS
- It is used for data manipulation which means change of data or modifications like adding, replacing, deleting etc.

In [1]:
import numpy as np
import pandas as pd

## **1. Series**
- 1 column = 1D series
- It is a 1D labeled array provided by the Pandas library.
- It can hold both fundamental and advance data types.
- nested of data types are possible.

In [2]:
s=pd.Series([10,20,30])
print(s)

# in Output, 0,1,2 are rows name also called index name just like dictionary keys name (which is also called index name) not index number they are not visible.

0    10
1    20
2    30
dtype: int64

### **1.1 Creation**
1. List 
2. Array
3. Dictionary

In [ ]:
# By list 

l=[11,22,33]
s=pd.Series(l, index=['a','b','c'])
print(s)

# In Output,
#        index name     index no
#             a             0
#             b             1
#             c             2

a    11
b    22
c    33
dtype: int64

In [ ]:
# By 1D Array

a=np.array([10,20,30])
s=pd.Series(a)
print(s)

0    10
1    20
2    30
dtype: int64

In [14]:
# By Dictionary

d={'a':1,'b':2,'c':3}
s=pd.Series(d)
print(s)

a    1
b    2
c    3
dtype: int64

In [16]:
# series convert to list
s.tolist()

[1, 2, 3]

### **1.2 Extraction**

1. Accessing single value through indexing.
2. Accessing multiple value through slicing.
3. Accessing multiple value through indexing.
4. Accessing multiple value through condition.

- if index number is used then **iloc** is required
- if index name is used then **loc** is required or we can just extract using index name.

In [11]:
s=pd.Series([10,20,30,40,50,60], index=['a','b','c','d','e','d'])
s

a    10
b    20
c    30
d    40
e    50
d    60
dtype: int64

In [52]:
# single value ---> indexing
print(s.iloc[2])
print(s.loc['b'])

30
20

In [12]:
# multiple value ---> slicing
                    # index no ---> [included, excluded, step]
                    # index name ---> [included, included, step]
print(s.iloc[1:4])
print(s.loc['b':'e':2])

b    20
c    30
d    40
dtype: int64
b    20
d    40
dtype: int64

In [43]:
# multiple value ---> indexing
s.iloc[[2, 4, 6]]

2    30
4    50
6    70
dtype: int64

In [10]:
# multiple value ---> condition
s[s>=60]

Series([], dtype: int64)

### **1.3 Modification**
- when we do modification the previous modified value is treated as original for next modification.
1. Adding
2. Replacing
    - single value
    - multiple index with single value
        - indexing 
        - slicing
    - multiple index with multiple value
3. Deleting
    - index name
    - index no.

In [78]:
s=pd.Series([10,20,30,40,50,60], index=['a','b','c','d','e','f'])

#### **1.3.1 Adding**

In [81]:
# single value --- Series_name[index name] = value
s['g']=70
print(s)

a    10
b    20
c    30
d    40
e    50
f    60
g    70
dtype: int64

#### **1.3.2 Replacing**

In [ ]:
# 2.1 replace single value
s.iloc[2] = 100  # replaces the third item (30) with 100
print(s)

0    100
1    200
2    100
3     40
4      1
5     60
6    300
dtype: int64

In [ ]:
# 2.2.1 replacing multipne index with single value through indexing
s.iloc[[2, 4, 6]] = 1
print(s)

0    10
1    20
2     1
3    40
4     1
5    60
6     1
dtype: int64

In [ ]:
# 2.2.2 replacing multipne index with single value through slicing
s.iloc[1:3]=10
print(s)

0    10
1    10
2    10
3    40
4     1
5    60
6     1
dtype: int64

In [88]:
# replacing multiple index with single value through slicing
s.iloc[:]=10  
print(s)

a    10
b    10
c    10
d    10
e    10
f    10
dtype: int64

In [ ]:
# 2.3 replacing multiple index with multiple value through indexing
s.iloc[[0,1,6]]=[100,200,300]
print(s)

0    100
1    200
2     10
3     40
4      1
5     60
6    300
dtype: int64

#### **1.3.3 Deletion**
- In drop, Index attribute is used for index name and axis attribute is used for index number which remove the row(horizontaly).

##### **1.3.3.1 Delete using index name**

In [108]:
# single value throgh index name
s=pd.Series([1,2,3,4,5])
x=s.drop(index=0)
print(x)

1    2
2    3
3    4
4    5
dtype: int64

In [109]:
s=pd.Series([1,2,3],index=['a','b','c'])
x=s.drop(index='c')
print(x)

a    1
b    2
dtype: int64

In [ ]:
# multiple value through index name
s=pd.Series([1,2,3,4,5])
x=s.drop(index=[0,1])
print(x)

2    3
3    4
4    5
dtype: int64

In [123]:
s=pd.Series([1,2,3],index=['a','b','c'])
x=s.drop(index=['b','c'])
print(x)

a    1
dtype: int64

##### **1.3.3.2 Delete using index number**

In [106]:
# single value throgh index no.
s=pd.Series([1,2,3])
x=s.drop(2,axis=0)
print(x)

0    1
1    2
dtype: int64

In [ ]:
# multiple value throgh index no.
s= pd.Series([1, 2, 3])
x = s.drop([1,2],axis=0)  
print(x)

0    1
dtype: int64

### **1.4 Operations**