## 2D PANDAS DATAFRAMES
- More than 1 column = 2D dataframes

### **1.1 Creation**
1. list of lists
2. 2D array
3. dictionary
4. transpose
5. missing value

In [2]:
# from list of lists ----- items will store in rows
import pandas as pd
l=[[10,20,30],[40,50,60]]
df=pd.DataFrame(l)
print(df)

    0   1   2
0  10  20  30
1  40  50  60

In [14]:
# from 2D array
import  numpy as np
import pandas as pd
a=np.array([[1,2,3],[4,5,6]])
df=pd.DataFrame(a, columns=['c1','c2','c3'] , index=['r1','r2'])
print(df)

    c1  c2  c3
r1   1   2   3
r2   4   5   6

In [7]:
# using Dictionary ----- items will store as column
import pandas as pd
d={'x':[1,2,3],'y':[4,5,6],'z':[7,8,9]}
df=pd.DataFrame(d)
print(df)

   x  y  z
0  1  4  7
1  2  5  8
2  3  6  9

In [8]:
# transpose ----- rows to columns or columns to rows
import pandas as pd
l=[[10,20,30],[40,50,60]]
df=pd.DataFrame(l)
df.T

    0   1
0  10  40
1  20  50
2  30  60

In [13]:
# missing value ----- np.nan 
import numpy as np
import pandas as pd
l=[[1,np.nan,2],[4,5,6],[7,'sam',9]]
df=pd.DataFrame(l)
print(df)
x=df.isnull()
print(x)

   0    1  2
0  1  NaN  2
1  4    5  6
2  7  sam  9
       0      1      2
0  False   True  False
1  False  False  False
2  False  False  False

### **1.2 Extraction**
1. Single value
2. Single row/column
3. Multiple row/column
    1. indexing
    2. slicing
4. reverse printing row/column
5. Multiple row and multiple column

In [20]:
import pandas as pd
df=pd.DataFrame([[10,20,30],[40,50,60],[70,80,90]], columns=['a','b','c'])
print(df)

    a   b   c
0  10  20  30
1  40  50  60
2  70  80  90

In [25]:
# single value
print(df.iloc[0,2])

30

In [28]:
# single row
print(df.iloc[1,:])

# single column
print(df.iloc[:,2])

a    40
b    50
c    60
Name: 1, dtype: int64
0    30
1    60
2    90
Name: c, dtype: int64

In [33]:
#slicing

# multiple row
print(df.iloc[0:2,:])
#multiple column
print(df.iloc[:,0:1])

    a   b   c
0  10  20  30
1  40  50  60
    a
0  10
1  40
2  70

In [36]:
# indexing

# multiple row
print(df.iloc[[1,2], : ])
# multiple column
print(df.iloc[:,[1,2]])

    a   b   c
1  40  50  60
2  70  80  90
    b   c
0  20  30
1  50  60
2  80  90

In [39]:
# reverse printing row
print(df.iloc[::-1,1])

# reverse printing column
print(df.iloc[0,::-1])

2    80
1    50
0    20
Name: b, dtype: int64
c    30
b    20
a    10
Name: 0, dtype: int64

In [42]:
# multiple row and multiple column

print(df.iloc[[1,2],[0,1]])

    a   b
1  40  50
2  70  80